* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #2b2b2b;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 80%;
  height: 90px;

  padding: 0 80px;
  box-sizing: border-box;

  border-bottom: 1px solid #dcdcdc;

  z-index: 1000;

  margin-top: 20px;
  justify-content: space-between;

  margin-left: 10%;
  margin-right: 10%;

  display: flex;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  border-radius: 35px;

  background: linear-gradient(90deg, #000000, #ffd60a);

  font-family: 'Changa One', sans-serif;

}

.logo {
  font-size: 40px;
  color: #ffffff;
  text-decoration: none;
  margin-left: -5px;
}  

.nav-buttons {
  gap: 10px;
  justify-self: end;
  display: flex;

}



.btn {
  text-decoration: none;
  padding: 12px 22px;
  border-radius: 30px;
  font-size: 19px;
  transition: 0.3s;
}

.menu-buttons {
  gap: 12px;
  justify-content: center;
  align-items: center;
  justify-self: center;
  display: flex;
  font-weight: 700;
}


.btn-home {
  color: #ffffff;

}

.btn-home:hover {
  color: #ffffff;
  background-color: #000000;
}

.btn-solutions {
  color: #ffffff;
}

.btn-solutions:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn-benefits {
  color: #ffffff;
}

.btn-benefits:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn-contact {
  color: #ffffff;
}

.btn-contact:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn-plans {
  color: #ffffff;
}

.btn-plans:hover {
  background-color: #000000;
  color: #ffffff;
}



/* Buttons */

.btn-primary {
  background-color: #000000;
  color: white;

 }

.btn-primary:hover {
  background-color: #ffd60a;
  color: rgb(0, 0, 0);
  border: 2px solid #000000;
}

.btn-secondary {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000;
}

.btn-secondary:hover {
  background-color: #000000;
  color: white;
}



/* Hero Buttons */

.btn-hero1 {
  border: 2px solid #ffffff;
  color: #000000;
  background-color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
}

.btn-hero1:hover {
  background-color: #000000;
  color: white;
}

.btn-hero2 {
  border: 2px solid #000000;
  color: #ffffff;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

.btn-hero2:hover {
  background-color: #ffd60a;
  color: rgb(0, 0, 0);
}



/* Hero Section */

.hero-content {

  min-height: 100vh;

  max-width: 1200px;

  margin: 0 auto;

  padding: 30px 10px 200px;

  display: flex;

  align-items: center;

  gap: 100px;


}

.hero-text {
  flex: 1;
  max-width: 550px;
}

.hero-text h1 {

  line-height: 1.1;

  margin-bottom: 25px;

    color: #ffffff;

    font-family: 'Changa One', sans-serif;
    font-size: 150px;
}

.hero-text p {
  font-size: 20px;

  line-height: 1.7;

  margin-bottom: 35px;

  color: #ffffff;
}

.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  width: 100%;

  height: 100%;

  object-fit: cover;

  display: block;

  opacity: 50%;

}


/* Cards Section */


.cards-section {
  max-width: 1200px;
  margin: 80px auto;
  padding: 40px;
  text-align: center;
}

.cards-section h2 {
  font-size: 48px;
  color: #f5f5f5;
  margin-bottom: 40px;
  position: relative;
  top: -200px;
}

.cards-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}
.cards-container2 {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px;

}


.card {
  background-color: white;
  width: 300px;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 50px 100px rgba(0,0,0,0.08);
  text-align: left;
  position: relative;
  top: -150px;
  
}

.card h3 {
  color: #000000;
  margin-bottom: 15px;
}

.card p {
  line-height: 1.5;
}

.card:hover { background-color: #e1d159;
  transform: translateY(-10px);
  box-shadow: 0px 30px 50px rgba(0,0,0,0.10);
}

/* Cards Section plans*/


.cards-prices {
    max-width: 1400px;

  margin: -150px auto 80px auto;

  padding: 40px;

  text-align: center;

  position: relative;

  z-index: 2;



  justify-content: space-between;
}

.cards-prices h2 {

  font-size: 48px;

  color: #f5f5f5;

  margin-bottom: 40px;
}

.cards-planer {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
    display: flex;

  gap: 25px;

  justify-content: center;

  flex-wrap: wrap;

  align-items: stretch;
}


.card-week,
.card-month,
.card-monthly,
.card-yearly {

  background-color: white;

  width: 300px;

  padding: 30px;

  border-radius: 25px;

  box-shadow: 0 50px 100px rgba(0,0,0,0.08);

  text-align: left;

  transition: 0.3s ease;
  height: 320px;

    display: flex;
  flex-direction: column;
}


.card-week h3,
.card-month h3,
.card-monthly h3,
.card-yearly h3 {
  color: #000000;
  margin-bottom: 15px;
}

.card-week p,
.card-month p,
.card-monthly p,
.card-yearly p {
  line-height: 1.5;
}

/* card bottons */

.btn-card {

  width: 100%;

  padding: 14px;

  border: none;

  border-radius: 14px;

  background-color: #000;

  color: white;

  font-size: 16px;

  font-weight: 600;

  cursor: pointer;

  margin-top: 20px;

  transition: 0.3s ease;

  margin-top: auto;

  
}

.btn-card:hover {

  background-color: #e1d159;

  color: black;

  border: 2px solid #000000;
}








.btn-solutions {
  color: #ffffff;
}

.btn-solutions:hover {
  background-color: #000000;
  color: #ffffff;
}



.footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}



